# Cornershop's Data Science Test

## Dev: Mateus Broilo
mateus.brilo90@gmail.com

* Objectives: Load Datasets and perform

 # Summary

* Initials
    * Loading Libraries and Packages
    * Configurations
    * Global Variables
* Loading Datasets
    * Sheet 1
* Loading Datasets
    * Sheet 1
    * Data Handling
        * CBK not null
        * CBK null
    * Concat both datasets
* Save Corrected Dataset

# Initials
* Loading Libraries and Packages
* Configuration
* Global Variables

## Loading Libraries and Packages

In [19]:
# general
import warnings
import time
import gc

#data
import pandas as pd
from datetime import (datetime, date)

In [20]:
ls -l ../raw_data/

total 1736
-rw-rw-r-- 1 broilo broilo 885777 mai 20 13:57 20220520_rawdata_original.xlsx
-rw-rw-r-- 1 broilo broilo 885777 mai 20 13:57 Missão_Stone_-_Dados_de_trx.xlsx

## Configurations

In [21]:
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 20)

## Global Variables

In [22]:
PATH_RAWDATA = "../raw_data/"
PATH_DATA = "../data/"
RAWDATA = "20220520_rawdata_original.xlsx"
DATE = time.strftime("%Y%m%d")

# Loading Datasets
* Sheet 1
* Data Handling
    * CBK not null
    * CBK null
* Concat both datasets

## Sheet 1

In [23]:
df = pd.read_excel(PATH_RAWDATA + RAWDATA, sheet_name='Aba 1')
print(df.shape)
df

(11128, 5)

                      Dia      Hora             Valor            Cartão  CBK
0     2015-05-01 00:00:00  00:01:54             36.54  536518******2108  Não
1     2015-05-01 00:00:00  00:03:46             36.54  536518******2108  Não
2     2015-05-01 00:00:00  00:08:50                69  453211******1239  Não
3     2015-05-01 00:00:00  00:27:00            193.43  548827******1705  Não
4     2015-05-01 00:00:00  01:32:46               132  531681******9778  Não
...                   ...       ...               ...               ...  ...
11123 2015-05-30 23:07:01        53  514868******7409               Não  NaN
11124 2015-05-30 23:08:47        15  439354******5281               Não  NaN
11125 2015-05-30 23:15:24        20  549167******1648               Não  NaN
11126 2015-05-30 23:17:41        70  518759******8384               Não  NaN
11127 2015-05-30 23:51:31        20  518759******0329               Não  NaN

[11128 rows x 5 columns]

## Data Handling

### CBK not null

In [24]:
df1 = df[df.CBK.isnull()==False].copy()
df1['Dia'] = pd.to_datetime(df1['Dia'], format='%Y-%m-%d')
print(df1.shape)
df1

(11004, 5)

             Dia      Hora   Valor            Cartão  CBK
0     2015-05-01  00:01:54   36.54  536518******2108  Não
1     2015-05-01  00:03:46   36.54  536518******2108  Não
2     2015-05-01  00:08:50      69  453211******1239  Não
3     2015-05-01  00:27:00  193.43  548827******1705  Não
4     2015-05-01  01:32:46     132  531681******9778  Não
...          ...       ...     ...               ...  ...
10999 2015-05-30  23:07:01      53  514868******7409  Não
11000 2015-05-30  23:08:47      15  439354******5281  Não
11001 2015-05-30  23:15:24      20  549167******1648  Não
11002 2015-05-30  23:17:41      70  518759******8384  Não
11003 2015-05-30  23:51:31      20  518759******0329  Não

[11004 rows x 5 columns]

### CBK null

In [25]:
df2 = df[df.CBK.isnull()==True].copy()
print(df2.shape)
df2

(124, 5)

                      Dia   Hora             Valor Cartão  CBK
11004 2015-05-30 14:32:17     15  514945******7580    Não  NaN
11005 2015-05-30 14:32:37  96.42  498408******2729    Não  NaN
11006 2015-05-30 14:33:03     35  441524******8556    Não  NaN
11007 2015-05-30 14:35:14     99  546451******1223    Não  NaN
11008 2015-05-30 14:35:21  44.42  498408******2729    Não  NaN
...                   ...    ...               ...    ...  ...
11123 2015-05-30 23:07:01     53  514868******7409    Não  NaN
11124 2015-05-30 23:08:47     15  439354******5281    Não  NaN
11125 2015-05-30 23:15:24     20  549167******1648    Não  NaN
11126 2015-05-30 23:17:41     70  518759******8384    Não  NaN
11127 2015-05-30 23:51:31     20  518759******0329    Não  NaN

[124 rows x 5 columns]

In [26]:
df2['CBK'] = df2['Cartão'].tolist()
df2['Cartão'] = df2['Valor'].tolist()
df2['Valor'] = df2['Hora'].tolist()
df2[['Dia','Hora']] = df2['Dia'].astype(str).str.split(" ", expand=True)
df2['Dia'] = pd.to_datetime(df2['Dia'], format='%Y-%m-%d')
df2

             Dia      Hora  Valor            Cartão  CBK
11004 2015-05-30  14:32:17  15.00  514945******7580  Não
11005 2015-05-30  14:32:37  96.42  498408******2729  Não
11006 2015-05-30  14:33:03  35.00  441524******8556  Não
11007 2015-05-30  14:35:14  99.00  546451******1223  Não
11008 2015-05-30  14:35:21  44.42  498408******2729  Não
...          ...       ...    ...               ...  ...
11123 2015-05-30  23:07:01  53.00  514868******7409  Não
11124 2015-05-30  23:08:47  15.00  439354******5281  Não
11125 2015-05-30  23:15:24  20.00  549167******1648  Não
11126 2015-05-30  23:17:41  70.00  518759******8384  Não
11127 2015-05-30  23:51:31  20.00  518759******0329  Não

[124 rows x 5 columns]

## Concat both datasets

In [27]:
df_done = pd.concat([df1,df2], axis=0)
print(df_done.shape)
df_done

(11128, 5)

             Dia      Hora   Valor            Cartão  CBK
0     2015-05-01  00:01:54   36.54  536518******2108  Não
1     2015-05-01  00:03:46   36.54  536518******2108  Não
2     2015-05-01  00:08:50      69  453211******1239  Não
3     2015-05-01  00:27:00  193.43  548827******1705  Não
4     2015-05-01  01:32:46     132  531681******9778  Não
...          ...       ...     ...               ...  ...
11123 2015-05-30  23:07:01    53.0  514868******7409  Não
11124 2015-05-30  23:08:47    15.0  439354******5281  Não
11125 2015-05-30  23:15:24    20.0  549167******1648  Não
11126 2015-05-30  23:17:41    70.0  518759******8384  Não
11127 2015-05-30  23:51:31    20.0  518759******0329  Não

[11128 rows x 5 columns]

# Save Corrected Dataset

In [28]:
df_done.to_csv(PATH_DATA + DATE + "_corrected_sheet1.csv", sep=',', index=False)