# Cornershop's Data Science Test

## Dev: Mateus Broilo
mateus.brilo90@gmail.com

* Objectives: Load Datasets and perform

 # Summary

* Initials
    * Loading Libraries and Packages
    * Configurations
    * Global Variables
* Function's Definition
    * Class of Preprocess Funtions
* Loading data
* Data Preprocessing
    * Date Resources: day_of_week,  day_name, day_of_month, pure_time, day_of_month_RANGE
    * Transactions Resources: same_day_count,  same_day_valor_count, rank_same_day, diff_time
* Selecting Possible Useful Resources
* Saving preprocessed dataset

# Initials
* Loading Libraries and Packages
* Configuration
* Global Variables

## Loading Libraries and Packages

In [1]:
# general
import warnings
import time
import gc

#data
import pandas as pd
import numpy as np
from datetime import (datetime, date)

## visualization
import matplotlib.pyplot as plt
import seaborn as sns

# model
import joblib

In [2]:
ls -l ../raw_data/

total 1736
-rw-rw-r-- 1 broilo broilo 885777 mai 20 13:57 20220520_rawdata_original.xlsx
-rw-rw-r-- 1 broilo broilo 885777 mai 20 13:57 Missão_Stone_-_Dados_de_trx.xlsx

## Configurations

In [3]:
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', 20)
pd.set_option('display.max_rows', 20)

rc={'font.size': 14, 'axes.labelsize': 14, 'legend.fontsize': 12, 
    'axes.titlesize': 24, 'xtick.labelsize': 14, 'ytick.labelsize': 12}

sns.set(rc=rc)
sns.set_palette("tab10")
sns.set_style("darkgrid")#sns.set_style("whitegrid")

## Global Variables

In [4]:
PATH_RAWDATA = "../raw_data/"
DATA = "20220520_rawdata_original.xlsx"
DATE = time.strftime("%Y%m%d")
MODEL = "20220522_set1_XGBClassifier.sav"

# Function's Definition

## Class of Preprocess Funtions

In [5]:
class preprocessToolKit:
    
    def dropDuplicates(dataset):
        dataset = dataset.drop_duplicates(keep='first').reset_index(drop=True).copy()    
        return dataset
    
    def checkTypo(dataset):
        dataset['Data'] = dataset.Dia.astype(str) + ' ' + dataset.Hora.astype(str)
        uniqueDataLen = []
        for i in range(len(dataset.Data)):
            uniqueDataLen.append(len(dataset.Data[i]))
        uniqueDataLen = list(set(uniqueDataLen))
        idx = []
        for i in range(len(dataset.Data)):
            if len(dataset.Data[i]) > 19 or len(dataset.Data[i]) < 19:
                idx.append(dataset[dataset.Data == dataset.Data[i]].index.values[0])
            else:
                None
        dataset.drop(index=idx, axis=0, inplace=True)
        return dataset
    
    def dataTimeConverter(dataset, col1, col2):
        
        # day_of_week
        dataset['day_of_week'] = list(pd.to_datetime(dataset[col1], format='%Y-%m-%d').dt.dayofweek)
        dataset['day_name'] = list(pd.to_datetime(dataset[col1], format='%Y-%m-%d').dt.day_name())#.dayofweek)

        # day_of_month
        dataset[[col1+'_Ano', col1+'_Mês', col1+'_Dia']] = dataset[col1].astype(str).str.split("-", expand=True)
        dataset.rename(columns={col1+'_Dia':'day_of_month'}, inplace=True)
        dataset['day_of_month'] = dataset['day_of_month'].astype(int)

        # pure_time
        dataset[[col2+'_HH', col2+'_MIN', col2+'_SEC']] = dataset[col2].astype(str).str.split(":", expand=True)
        dataset['pure_time'] = dataset[col2+'_HH'].astype(int) + (dataset[col2+'_MIN'].astype(int) / 60) + (dataset[col2+'_SEC'].astype(float) / 3600)

        del dataset[col1+'_Ano'], dataset[col1+'_Mês'], dataset[col2+'_HH'], dataset[col2+'_MIN'], dataset[col2+'_SEC']
        
        conditions = [
            (dataset.day_of_month <= 5),
            ((dataset.day_of_month > 5) & (dataset.day_of_month <= 10)),
            ((dataset.day_of_month > 10) & (dataset.day_of_month <= 15)),
            ((dataset.day_of_month > 15) & (dataset.day_of_month <= 20)),
            ((dataset.day_of_month > 20) & (dataset.day_of_month <= 25)),
            (dataset.day_of_month > 25),
        ]

        choices = ['1-5', '6-10', '11-15', '16-20', '21-25', '>25']

        dataset['day_of_month_RANGE'] = np.select(conditions, choices, default='Tie')
        return dataset
    
    def recorrenciaTransacaoDiaria(dataset, col1, col2):
        dataset_sameDay = dataset[['Cartão','Dia']].value_counts().to_frame().reset_index()
        dataset_sameDay.rename(columns={0:'same_day_count'}, inplace=True)
        return dataset_sameDay
    
    def recorrenciaTransacaoDiariaValor(dataset, col1, col2, col3):
        dataset_sameDayValor = dataset[['Cartão','Dia','Valor']].value_counts().to_frame().reset_index()
        dataset_sameDayValor.rename(columns={0:'same_day_valor_count'}, inplace=True)
        return dataset_sameDayValor
        
    def merges(dataset, col1, col2, col3):
        dataset_sameDay = preprocessToolKit.recorrenciaTransacaoDiaria(dataset, col1, col2)
        dataset_sameDayValor = preprocessToolKit.recorrenciaTransacaoDiariaValor(dataset, col1, col2, col3)
        dataseta = dataset.merge(
            dataset_sameDay[[col1, col2, 'same_day_count']], 
            how='left', 
            left_on = [col1, col2], 
            right_on = [col1, col2]
        )
        dataset = dataseta.merge(
            dataset_sameDayValor[[col1, col2, col3, 'same_day_valor_count']], 
            how='left', 
            left_on = [col1, col2, col3], 
            right_on = [col1, col2, col3]
        )
        dataset = dataset.sort_values(by=['Cartão','Dia','Hora']).reset_index(drop=True).copy()
        return dataset
    
    def rankTransacao(dataset):
        dataset['rank_same_day'] = dataset.groupby(by=['Cartão','Dia'])['pure_time'].rank(method='first')
        return dataset
    
    def diffTime(dataset):
        diff_time = []
        for i in range(len(dataset)):
            if dataset.rank_same_day[i] == 1:
                diff_time.append(0)
            else:
                diff_time.append(dataset.pure_time[i] - dataset.pure_time[i-1])
        dataset['diff_time'] = diff_time
        return dataset

# Loading Datasets

In [6]:
df = pd.read_excel(PATH_RAWDATA + DATA, sheet_name='Aba 2')
print(df.shape)
df

(11820, 5)

             Dia      Hora   Valor            Cartão  CBK
0     2015-06-01  00:02:25  112.00  541555******5965  NaN
1     2015-06-01  00:30:45  112.00  406669******7350  NaN
2     2015-06-01  00:43:20   18.34  541187******4535  NaN
3     2015-06-01  00:46:46   55.00  554927******5629  NaN
4     2015-06-01  00:47:50   50.00  498407******2077  NaN
...          ...       ...     ...               ...  ...
11815 2015-06-29  23:33:15  161.00  406669******8294  NaN
11816 2015-06-29  23:38:18  103.50  490172******5444  NaN
11817 2015-06-29  23:40:11   60.89  498407******2600  NaN
11818 2015-06-29  23:49:48   46.00  467149******3146  NaN
11819 2015-06-29  23:53:44   77.00  470598******4504  NaN

[11820 rows x 5 columns]

# Data Preprocessing
* Drop Duplicates
* Check for typos
* Feature Engineering
    * Date Resources: day_of_week,  day_name, day_of_month, pure_time, day_of_month_RANGE
    * Transactions Resources: same_day_count,  same_day_valor_count, rank_same_day, diff_time

In [7]:
df_prep = df.copy()

## Drop Duplicates

In [8]:
df_prep = preprocessToolKit.dropDuplicates(df_prep)
df_prep

             Dia      Hora   Valor            Cartão  CBK
0     2015-06-01  00:02:25  112.00  541555******5965  NaN
1     2015-06-01  00:30:45  112.00  406669******7350  NaN
2     2015-06-01  00:43:20   18.34  541187******4535  NaN
3     2015-06-01  00:46:46   55.00  554927******5629  NaN
4     2015-06-01  00:47:50   50.00  498407******2077  NaN
...          ...       ...     ...               ...  ...
11809 2015-06-29  23:33:15  161.00  406669******8294  NaN
11810 2015-06-29  23:38:18  103.50  490172******5444  NaN
11811 2015-06-29  23:40:11   60.89  498407******2600  NaN
11812 2015-06-29  23:49:48   46.00  467149******3146  NaN
11813 2015-06-29  23:53:44   77.00  470598******4504  NaN

[11814 rows x 5 columns]

## Check for typos

In [9]:
df_prep = preprocessToolKit.checkTypo(df_prep)
df_prep

             Dia      Hora   Valor            Cartão  CBK                 Data
0     2015-06-01  00:02:25  112.00  541555******5965  NaN  2015-06-01 00:02:25
1     2015-06-01  00:30:45  112.00  406669******7350  NaN  2015-06-01 00:30:45
2     2015-06-01  00:43:20   18.34  541187******4535  NaN  2015-06-01 00:43:20
3     2015-06-01  00:46:46   55.00  554927******5629  NaN  2015-06-01 00:46:46
4     2015-06-01  00:47:50   50.00  498407******2077  NaN  2015-06-01 00:47:50
...          ...       ...     ...               ...  ...                  ...
11809 2015-06-29  23:33:15  161.00  406669******8294  NaN  2015-06-29 23:33:15
11810 2015-06-29  23:38:18  103.50  490172******5444  NaN  2015-06-29 23:38:18
11811 2015-06-29  23:40:11   60.89  498407******2600  NaN  2015-06-29 23:40:11
11812 2015-06-29  23:49:48   46.00  467149******3146  NaN  2015-06-29 23:49:48
11813 2015-06-29  23:53:44   77.00  470598******4504  NaN  2015-06-29 23:53:44

[11814 rows x 6 columns]

## Feature Engineering

### Date Resources: day_of_week,  day_name, day_of_month, pure_time, day_of_month_RANGE

In [10]:
df_prep = preprocessToolKit.dataTimeConverter(df_prep, 'Dia', 'Hora')
df_prep

,Dia,Hora,Valor,Cartão,CBK,Data,day_of_week,day_name,day_of_month,pure_time,day_of_month_RANGE
0,2015-06-01,00:02:25,112.00,541555******5965,NaN,2015-06-01 00:02:25,0,Monday,1,0.040278,1-5
1,2015-06-01,00:30:45,112.00,406669******7350,NaN,2015-06-01 00:30:45,0,Monday,1,0.512500,1-5
2,2015-06-01,00:43:20,18.34,541187******4535,NaN,2015-06-01 00:43:20,0,Monday,1,0.722222,1-5
3,2015-06-01,00:46:46,55.00,554927******5629,NaN,2015-06-01 00:46:46,0,Monday,1,0.779444,1-5
4,2015-06-01,00:47:50,50.00,498407******2077,NaN,2015-06-01 00:47:50,0,Monday,1,0.797222,1-5
...,...,...,...,...,...,...,...,...,...,...,...
11809,2015-06-29,23:33:15,161.00,406669******8294,NaN,2015-06-29 23:33:15,0,Monday,29,23.554167,>25
11810,2015-06-29,23:38:18,103.50,490172******5444,NaN,2015-06-29 23:38:18,0,Monday,29,23.638333,>25
11811,2015-06-29,23:40:11,60.89,498407******2600,NaN,2015-06-29 23:40:11,0,Monday,29,23.669722,>25
11812,2015-06-29,23:49:48,46.00,467149******3146,NaN,2015-06-29 23:49:48,0,Monday,29,23.830000,>25
11813,2015-06-29,23:53:44,77.00,470598******4504,NaN,2015-06-29 23:53:44,0,Monday,29,23.895556,>25

### Transactions Resources: same_day_count,  same_day_valor_count, rank_same_day, diff_time

In [11]:
df_prep = preprocessToolKit.merges(df_prep, 'Cartão','Dia','Valor')
df_prep

,Dia,Hora,Valor,Cartão,CBK,Data,day_of_week,day_name,day_of_month,pure_time,day_of_month_RANGE,same_day_count,same_day_valor_count
0,2015-06-03,18:44:24,170.00,400217******0059,NaN,2015-06-03 18:44:24,2,Wednesday,3,18.740000,1-5,1,1
1,2015-06-02,22:01:56,111.65,400217******3671,NaN,2015-06-02 22:01:56,1,Tuesday,2,22.032222,1-5,1,1
2,2015-06-16,18:18:16,78.15,400217******3689,NaN,2015-06-16 18:18:16,1,Tuesday,16,18.304444,16-20,1,1
3,2015-06-15,17:17:06,110.00,400217******3922,NaN,2015-06-15 17:17:06,0,Monday,15,17.285000,11-15,1,1
4,2015-06-11,15:26:25,40.00,400217******4160,NaN,2015-06-11 15:26:25,3,Thursday,11,15.440278,11-15,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11809,2015-06-18,08:53:32,132.00,554932******9338,NaN,2015-06-18 08:53:32,3,Thursday,18,8.892222,16-20,1,1
11810,2015-06-24,22:34:23,345.00,554932******9338,NaN,2015-06-24 22:34:23,2,Wednesday,24,22.573056,21-25,1,1
11811,2015-06-19,18:36:39,100.80,558285******0863,NaN,2015-06-19 18:36:39,4,Friday,19,18.610833,16-20,1,1
11812,2015-06-05,13:34:55,70.00,558285******1792,NaN,2015-06-05 13:34:55,4,Friday,5,13.581944,1-5,1,1
11813,2015-06-29,13:05:45,132.00,558285******9240,NaN,2015-06-29 13:05:45,0,Monday,29,13.095833,>25,1,1

In [12]:
df_prep = preprocessToolKit.rankTransacao(df_prep)
df_prep

,Dia,Hora,Valor,Cartão,CBK,Data,day_of_week,day_name,day_of_month,pure_time,day_of_month_RANGE,same_day_count,same_day_valor_count,rank_same_day
0,2015-06-03,18:44:24,170.00,400217******0059,NaN,2015-06-03 18:44:24,2,Wednesday,3,18.740000,1-5,1,1,1.0
1,2015-06-02,22:01:56,111.65,400217******3671,NaN,2015-06-02 22:01:56,1,Tuesday,2,22.032222,1-5,1,1,1.0
2,2015-06-16,18:18:16,78.15,400217******3689,NaN,2015-06-16 18:18:16,1,Tuesday,16,18.304444,16-20,1,1,1.0
3,2015-06-15,17:17:06,110.00,400217******3922,NaN,2015-06-15 17:17:06,0,Monday,15,17.285000,11-15,1,1,1.0
4,2015-06-11,15:26:25,40.00,400217******4160,NaN,2015-06-11 15:26:25,3,Thursday,11,15.440278,11-15,1,1,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11809,2015-06-18,08:53:32,132.00,554932******9338,NaN,2015-06-18 08:53:32,3,Thursday,18,8.892222,16-20,1,1,1.0
11810,2015-06-24,22:34:23,345.00,554932******9338,NaN,2015-06-24 22:34:23,2,Wednesday,24,22.573056,21-25,1,1,1.0
11811,2015-06-19,18:36:39,100.80,558285******0863,NaN,2015-06-19 18:36:39,4,Friday,19,18.610833,16-20,1,1,1.0
11812,2015-06-05,13:34:55,70.00,558285******1792,NaN,2015-06-05 13:34:55,4,Friday,5,13.581944,1-5,1,1,1.0
11813,2015-06-29,13:05:45,132.00,558285******9240,NaN,2015-06-29 13:05:45,0,Monday,29,13.095833,>25,1,1,1.0

In [13]:
df_prep = preprocessToolKit.diffTime(df_prep)
df_prep

,Dia,Hora,Valor,Cartão,CBK,Data,day_of_week,day_name,day_of_month,pure_time,day_of_month_RANGE,same_day_count,same_day_valor_count,rank_same_day,diff_time
0,2015-06-03,18:44:24,170.00,400217******0059,NaN,2015-06-03 18:44:24,2,Wednesday,3,18.740000,1-5,1,1,1.0,0.0
1,2015-06-02,22:01:56,111.65,400217******3671,NaN,2015-06-02 22:01:56,1,Tuesday,2,22.032222,1-5,1,1,1.0,0.0
2,2015-06-16,18:18:16,78.15,400217******3689,NaN,2015-06-16 18:18:16,1,Tuesday,16,18.304444,16-20,1,1,1.0,0.0
3,2015-06-15,17:17:06,110.00,400217******3922,NaN,2015-06-15 17:17:06,0,Monday,15,17.285000,11-15,1,1,1.0,0.0
4,2015-06-11,15:26:25,40.00,400217******4160,NaN,2015-06-11 15:26:25,3,Thursday,11,15.440278,11-15,1,1,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11809,2015-06-18,08:53:32,132.00,554932******9338,NaN,2015-06-18 08:53:32,3,Thursday,18,8.892222,16-20,1,1,1.0,0.0
11810,2015-06-24,22:34:23,345.00,554932******9338,NaN,2015-06-24 22:34:23,2,Wednesday,24,22.573056,21-25,1,1,1.0,0.0
11811,2015-06-19,18:36:39,100.80,558285******0863,NaN,2015-06-19 18:36:39,4,Friday,19,18.610833,16-20,1,1,1.0,0.0
11812,2015-06-05,13:34:55,70.00,558285******1792,NaN,2015-06-05 13:34:55,4,Friday,5,13.581944,1-5,1,1,1.0,0.0
11813,2015-06-29,13:05:45,132.00,558285******9240,NaN,2015-06-29 13:05:45,0,Monday,29,13.095833,>25,1,1,1.0,0.0

## Encoding

In [14]:
df_prep = pd.get_dummies(df_prep, columns=['day_name', 'day_of_month_RANGE'])
df_prep

,Dia,Hora,Valor,Cartão,CBK,Data,day_of_week,day_of_month,pure_time,same_day_count,...,day_name_Sunday,day_name_Thursday,day_name_Tuesday,day_name_Wednesday,day_of_month_RANGE_1-5,day_of_month_RANGE_11-15,day_of_month_RANGE_16-20,day_of_month_RANGE_21-25,day_of_month_RANGE_6-10,day_of_month_RANGE_>25
0,2015-06-03,18:44:24,170.00,400217******0059,NaN,2015-06-03 18:44:24,2,3,18.740000,1,...,0,0,0,1,1,0,0,0,0,0
1,2015-06-02,22:01:56,111.65,400217******3671,NaN,2015-06-02 22:01:56,1,2,22.032222,1,...,0,0,1,0,1,0,0,0,0,0
2,2015-06-16,18:18:16,78.15,400217******3689,NaN,2015-06-16 18:18:16,1,16,18.304444,1,...,0,0,1,0,0,0,1,0,0,0
3,2015-06-15,17:17:06,110.00,400217******3922,NaN,2015-06-15 17:17:06,0,15,17.285000,1,...,0,0,0,0,0,1,0,0,0,0
4,2015-06-11,15:26:25,40.00,400217******4160,NaN,2015-06-11 15:26:25,3,11,15.440278,1,...,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11809,2015-06-18,08:53:32,132.00,554932******9338,NaN,2015-06-18 08:53:32,3,18,8.892222,1,...,0,1,0,0,0,0,1,0,0,0
11810,2015-06-24,22:34:23,345.00,554932******9338,NaN,2015-06-24 22:34:23,2,24,22.573056,1,...,0,0,0,1,0,0,0,1,0,0
11811,2015-06-19,18:36:39,100.80,558285******0863,NaN,2015-06-19 18:36:39,4,19,18.610833,1,...,0,0,0,0,0,0,1,0,0,0
11812,2015-06-05,13:34:55,70.00,558285******1792,NaN,2015-06-05 13:34:55,4,5,13.581944,1,...,0,0,0,0,1,0,0,0,0,0
11813,2015-06-29,13:05:45,132.00,558285******9240,NaN,2015-06-29 13:05:45,0,29,13.095833,1,...,0,0,0,0,0,0,0,0,0,1

# Selecting Possible Useful Resources

In [15]:
list(df_prep)

['Dia',
 'Hora',
 'Valor',
 'Cartão',
 'CBK',
 'Data',
 'day_of_week',
 'day_of_month',
 'pure_time',
 'same_day_count',
 'same_day_valor_count',
 'rank_same_day',
 'diff_time',
 'day_name_Friday',
 'day_name_Monday',
 'day_name_Saturday',
 'day_name_Sunday',
 'day_name_Thursday',
 'day_name_Tuesday',
 'day_name_Wednesday',
 'day_of_month_RANGE_1-5',
 'day_of_month_RANGE_11-15',
 'day_of_month_RANGE_16-20',
 'day_of_month_RANGE_21-25',
 'day_of_month_RANGE_6-10',
 'day_of_month_RANGE_>25']

In [16]:
selected = [
    #'Dia',
    #'Hora',
    'Valor',
    'Cartão', #-> index!
    #'CBK', #-> TARGET!
    'Data',
    #'day_of_week',
    #'day_name',
    #'day_of_month',
    'pure_time',
    #'day_of_month_RANGE',
    'same_day_count',
    'same_day_valor_count',
    'rank_same_day',
    'diff_time',
    'day_name_Friday',
    'day_name_Monday',
    'day_name_Saturday',
    'day_name_Sunday',
    'day_name_Thursday',
    'day_name_Tuesday',
    'day_name_Wednesday',
    'day_of_month_RANGE_1-5',
    'day_of_month_RANGE_11-15',
    'day_of_month_RANGE_16-20',
    'day_of_month_RANGE_21-25',
    'day_of_month_RANGE_6-10',
    'day_of_month_RANGE_>25',
    #'CBK_Não',
    #'CBK_Sim' #-> TARGET!
]

In [17]:
df_prep[selected]

,Valor,Cartão,Data,pure_time,same_day_count,same_day_valor_count,rank_same_day,diff_time,day_name_Friday,day_name_Monday,...,day_name_Sunday,day_name_Thursday,day_name_Tuesday,day_name_Wednesday,day_of_month_RANGE_1-5,day_of_month_RANGE_11-15,day_of_month_RANGE_16-20,day_of_month_RANGE_21-25,day_of_month_RANGE_6-10,day_of_month_RANGE_>25
0,170.00,400217******0059,2015-06-03 18:44:24,18.740000,1,1,1.0,0.0,0,0,...,0,0,0,1,1,0,0,0,0,0
1,111.65,400217******3671,2015-06-02 22:01:56,22.032222,1,1,1.0,0.0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,78.15,400217******3689,2015-06-16 18:18:16,18.304444,1,1,1.0,0.0,0,0,...,0,0,1,0,0,0,1,0,0,0
3,110.00,400217******3922,2015-06-15 17:17:06,17.285000,1,1,1.0,0.0,0,1,...,0,0,0,0,0,1,0,0,0,0
4,40.00,400217******4160,2015-06-11 15:26:25,15.440278,1,1,1.0,0.0,0,0,...,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11809,132.00,554932******9338,2015-06-18 08:53:32,8.892222,1,1,1.0,0.0,0,0,...,0,1,0,0,0,0,1,0,0,0
11810,345.00,554932******9338,2015-06-24 22:34:23,22.573056,1,1,1.0,0.0,0,0,...,0,0,0,1,0,0,0,1,0,0
11811,100.80,558285******0863,2015-06-19 18:36:39,18.610833,1,1,1.0,0.0,1,0,...,0,0,0,0,0,0,1,0,0,0
11812,70.00,558285******1792,2015-06-05 13:34:55,13.581944,1,1,1.0,0.0,1,0,...,0,0,0,0,1,0,0,0,0,0
11813,132.00,558285******9240,2015-06-29 13:05:45,13.095833,1,1,1.0,0.0,0,1,...,0,0,0,0,0,0,0,0,0,1

In [18]:
df_prep.set_index(['Cartão', 'Data'],inplace=True)
df_prep

                                            Dia      Hora   Valor  CBK  \
Cartão           Data
400217******0059 2015-06-03 18:44:24 2015-06-03  18:44:24  170.00  NaN
400217******3671 2015-06-02 22:01:56 2015-06-02  22:01:56  111.65  NaN
400217******3689 2015-06-16 18:18:16 2015-06-16  18:18:16   78.15  NaN
400217******3922 2015-06-15 17:17:06 2015-06-15  17:17:06  110.00  NaN
400217******4160 2015-06-11 15:26:25 2015-06-11  15:26:25   40.00  NaN
...                                         ...       ...     ...  ...
554932******9338 2015-06-18 08:53:32 2015-06-18  08:53:32  132.00  NaN
                 2015-06-24 22:34:23 2015-06-24  22:34:23  345.00  NaN
558285******0863 2015-06-19 18:36:39 2015-06-19  18:36:39  100.80  NaN
558285******1792 2015-06-05 13:34:55 2015-06-05  13:34:55   70.00  NaN
558285******9240 2015-06-29 13:05:45 2015-06-29  13:05:45  132.00  NaN

                                      day_of_week  day_of_month  pure_time  \
Cartão           Data
400217******0059 2015-06-03 18:44:24            2             3  18.740000
400217******3671 2015-06-02 22:01:56            1             2  22.032222
400217******3689 2015-06-16 18:18:16            1            16  18.304444
400217******3922 2015-06-15 17:17:06            0            15  17.285000
400217******4160 2015-06-11 15:26:25            3            11  15.440278
...                                           ...           ...        ...
554932******9338 2015-06-18 08:53:32            3            18   8.892222
                 2015-06-24 22:34:23            2            24  22.573056
558285******0863 2015-06-19 18:36:39            4            19  18.610833
558285******1792 2015-06-05 13:34:55            4             5  13.581944
558285******9240 2015-06-29 13:05:45            0            29  13.095833

                                      same_day_count  same_day_valor_count  \
Cartão           Data
400217******0059 2015-06-03 18:44:24               1                     1
400217******3671 2015-06-02 22:01:56               1                     1
400217******3689 2015-06-16 18:18:16               1                     1
400217******3922 2015-06-15 17:17:06               1                     1
400217******4160 2015-06-11 15:26:25               1                     1
...                                              ...                   ...
554932******9338 2015-06-18 08:53:32               1                     1
                 2015-06-24 22:34:23               1                     1
558285******0863 2015-06-19 18:36:39               1                     1
558285******1792 2015-06-05 13:34:55               1                     1
558285******9240 2015-06-29 13:05:45               1                     1

                                      rank_same_day  ...  day_name_Sunday  \
Cartão           Data                                ...
400217******0059 2015-06-03 18:44:24            1.0  ...                0
400217******3671 2015-06-02 22:01:56            1.0  ...                0
400217******3689 2015-06-16 18:18:16            1.0  ...                0
400217******3922 2015-06-15 17:17:06            1.0  ...                0
400217******4160 2015-06-11 15:26:25            1.0  ...                0
...                                             ...  ...              ...
554932******9338 2015-06-18 08:53:32            1.0  ...                0
                 2015-06-24 22:34:23            1.0  ...                0
558285******0863 2015-06-19 18:36:39            1.0  ...                0
558285******1792 2015-06-05 13:34:55            1.0  ...                0
558285******9240 2015-06-29 13:05:45            1.0  ...                0

                                      day_name_Thursday  day_name_Tuesday  \
Cartão           Data
400217******0059 2015-06-03 18:44:24                  0                 0
400217******3671 2015-06-02 22:01:56                  0                 1
400217******3689 2015-06-16 18:18:16                  0                 1
400217******3922 2015-06-15 17:17:06                  0                 0
400217******4160 2015-06-11 15:26:25                  1                 0
...                                                 ...               ...
554932******9338 2015-06-18 08:53:32                  1                 0
                 2015-06-24 22:34:23                  0                 0
558285******0863 2015-06-19 18:36:39                  0                 0
558285******1792 2015-06-05 13:34:55                  0                 0
558285******9240 2015-06-29 13:05:45                  0                 0

                                      day_name_Wednesday  \
Cartão           Data
400217******0059 2015-06-03 18:44:24                   1
400217******3671 2015-06-02 22:01:56                   0
400217******3689 2015-06-16 18:18:16                   0
400217******3922 2015-06-15 17:17:06                   0
400217******4160 2015-06-11 15:26:25                   0
...                                                  ...
554932******9338 2015-06-18 08:53:32                   0
                 2015-06-24 22:34:23                   1
558285******0863 2015-06-19 18:36:39                   0
558285******1792 2015-06-05 13:34:55                   0
558285******9240 2015-06-29 13:05:45                   0

                                      day_of_month_RANGE_1-5  \
Cartão           Data
400217******0059 2015-06-03 18:44:24                       1
400217******3671 2015-06-02 22:01:56                       1
400217******3689 2015-06-16 18:18:16                       0
400217******3922 2015-06-15 17:17:06                       0
400217******4160 2015-06-11 15:26:25                       0
...                                                      ...
554932******9338 2015-06-18 08:53:32                       0
                 2015-06-24 22:34:23                       0
558285******0863 2015-06-19 18:36:39                       0
558285******1792 2015-06-05 13:34:55                       1
558285******9240 2015-06-29 13:05:45                       0

                                      day_of_month_RANGE_11-15  \
Cartão           Data
400217******0059 2015-06-03 18:44:24                         0
400217******3671 2015-06-02 22:01:56                         0
400217******3689 2015-06-16 18:18:16                         0
400217******3922 2015-06-15 17:17:06                         1
400217******4160 2015-06-11 15:26:25                         1
...                                                        ...
554932******9338 2015-06-18 08:53:32                         0
                 2015-06-24 22:34:23                         0
558285******0863 2015-06-19 18:36:39                         0
558285******1792 2015-06-05 13:34:55                         0
558285******9240 2015-06-29 13:05:45                         0

                                      day_of_month_RANGE_16-20  \
Cartão           Data
400217******0059 2015-06-03 18:44:24                         0
400217******3671 2015-06-02 22:01:56                         0
400217******3689 2015-06-16 18:18:16                         1
400217******3922 2015-06-15 17:17:06                         0
400217******4160 2015-06-11 15:26:25                         0
...                                                        ...
554932******9338 2015-06-18 08:53:32                         1
                 2015-06-24 22:34:23                         0
558285******0863 2015-06-19 18:36:39                         1
558285******1792 2015-06-05 13:34:55                         0
558285******9240 2015-06-29 13:05:45                         0

                                      day_of_month_RANGE_21-25  \
Cartão           Data
400217******0059 2015-06-03 18:44:24                         0
400217******3671 2015-06-02 22:01:56                         0
400217******3689 2015-06-16 18:18:16                         0
400217******3922 2015-06-15 17:17:06                         0
400217******4160 2015-06-11 15:26:25                         0
...                                                        ...
554932******9338 2015-06-18 08:53:32                         0
                 2015-06-24 22:34:23                         1
558285******0863 2015-06-19 18:36:39                         0
558285******1792 2015-06-05 13:34:55                         0
558285******9240 2015-06-29 13:05:45                         0

                                      day_of_month_RANGE_6-10  \
Cartão           Data
400217******0059 2015-06-03 18:44:24                        0
400217******3671 2015-06-02 22:01:56                        0
400217******3689 2015-06-16 18:18:16                        0
400217******3922 2015-06-15 17:17:06                        0
400217******4160 2015-06-11 15:26:25                        0
...                                                       ...
554932******9338 2015-06-18 08:53:32                        0
                 2015-06-24 22:34:23                        0
558285******0863 2015-06-19 18:36:39                        0
558285******1792 2015-06-05 13:34:55                        0
558285******9240 2015-06-29 13:05:45                        0

                                      day_of_month_RANGE_>25
Cartão           Data
400217******0059 2015-06-03 18:44:24                       0
400217******3671 2015-06-02 22:01:56                       0
400217******3689 2015-06-16 18:18:16                       0
400217******3922 2015-06-15 17:17:06                       0
400217******4160 2015-06-11 15:26:25                       0
...                                                      ...
554932******9338 2015-06-18 08:53:32                       0
                 2015-06-24 22:34:23                       0
558285******0863 2015-06-19 18:36:39                       0
558285******1792 2015-06-05 13:34:55                       0
558285******9240 2015-06-29 13:05:45                       1

[11814 rows x 24 columns]

# Loading Model
* Feature Set 1
* Load XGBoost Classifier Default
* Predicted Results

## Feature Set 1

In [19]:
features_set1 = [
    'Valor',
    'pure_time',
    'same_day_count',
    'same_day_valor_count',
    'rank_same_day',
    'diff_time',
    'day_name_Friday',
    'day_name_Monday',
    'day_name_Saturday',
    'day_name_Sunday',
    'day_name_Thursday',
    'day_name_Tuesday',
    'day_name_Wednesday',
    'day_of_month_RANGE_1-5',
    'day_of_month_RANGE_11-15',
    'day_of_month_RANGE_16-20',
    'day_of_month_RANGE_21-25',
    'day_of_month_RANGE_6-10',
    'day_of_month_RANGE_>25'
]

In [20]:
df = df_prep[features_set1].copy()
print(df.shape)
df.head()

(11814, 19)

,,Valor,pure_time,same_day_count,same_day_valor_count,rank_same_day,diff_time,day_name_Friday,day_name_Monday,day_name_Saturday,day_name_Sunday,day_name_Thursday,day_name_Tuesday,day_name_Wednesday,day_of_month_RANGE_1-5,day_of_month_RANGE_11-15,day_of_month_RANGE_16-20,day_of_month_RANGE_21-25,day_of_month_RANGE_6-10,day_of_month_RANGE_>25
Cartão,Data,,,,,,,,,,,,,,,,,,,
400217******0059,2015-06-03 18:44:24,170.00,18.740000,1,1,1.0,0.0,0,0,0,0,0,0,1,1,0,0,0,0,0
400217******3671,2015-06-02 22:01:56,111.65,22.032222,1,1,1.0,0.0,0,0,0,0,0,1,0,1,0,0,0,0,0
400217******3689,2015-06-16 18:18:16,78.15,18.304444,1,1,1.0,0.0,0,0,0,0,0,1,0,0,0,1,0,0,0
400217******3922,2015-06-15 17:17:06,110.00,17.285000,1,1,1.0,0.0,0,1,0,0,0,0,0,0,1,0,0,0,0
400217******4160,2015-06-11 15:26:25,40.00,15.440278,1,1,1.0,0.0,0,0,0,0,1,0,0,0,1,0,0,0,0

## Load XGBoost Classifier Default

In [21]:
model = joblib.load(MODEL)
y_hat = model.predict(df)
y_hat_proba = model.predict_proba(df)

[23:14:23] WARNING: ../src/learner.cc:1040:
  If you are loading a serialized model (like pickle in Python, RDS in R) generated by
  older XGBoost, please export the model by calling `Booster.save_model` from that version
  first, then load it back in current version. See:

    https://xgboost.readthedocs.io/en/latest/tutorials/saving_model.html

  for more details about differences between saving model and serializing.

[23:14:23] WARNING: ../src/learner.cc:749: Found JSON model saved before XGBoost 1.6, please save the model using current version again. The support for old JSON model will be discontinued in XGBoost 2.3.
[23:14:23] WARNING: ../src/learner.cc:438:
  If you are loading a serialized model (like pickle in Python, RDS in R) generated by
  older XGBoost, please export the model by calling `Booster.save_model` from that version
  first, then load it back in current version. See:

    https://xgboost.readthedocs.io/en/latest/tutorials/saving_model.html

  for more details about differences between saving model and serializing.

In [22]:
y_hat

array([1, 1, 1, ..., 1, 1, 1])

In [23]:
y_hat_proba

array([[0.05767483, 0.9423252 ],
       [0.07956934, 0.92043066],
       [0.07956934, 0.92043066],
       ...,
       [0.28161132, 0.7183887 ],
       [0.28161132, 0.7183887 ],
       [0.27149218, 0.7285078 ]], dtype=float32)

## Predicted Results

In [24]:
df_pred = df.copy()
df_pred['y_hat'] = y_hat
df_pred

                                       Valor  pure_time  same_day_count  \
Cartão           Data
400217******0059 2015-06-03 18:44:24  170.00  18.740000               1
400217******3671 2015-06-02 22:01:56  111.65  22.032222               1
400217******3689 2015-06-16 18:18:16   78.15  18.304444               1
400217******3922 2015-06-15 17:17:06  110.00  17.285000               1
400217******4160 2015-06-11 15:26:25   40.00  15.440278               1
...                                      ...        ...             ...
554932******9338 2015-06-18 08:53:32  132.00   8.892222               1
                 2015-06-24 22:34:23  345.00  22.573056               1
558285******0863 2015-06-19 18:36:39  100.80  18.610833               1
558285******1792 2015-06-05 13:34:55   70.00  13.581944               1
558285******9240 2015-06-29 13:05:45  132.00  13.095833               1

                                      same_day_valor_count  rank_same_day  \
Cartão           Data
400217******0059 2015-06-03 18:44:24                     1            1.0
400217******3671 2015-06-02 22:01:56                     1            1.0
400217******3689 2015-06-16 18:18:16                     1            1.0
400217******3922 2015-06-15 17:17:06                     1            1.0
400217******4160 2015-06-11 15:26:25                     1            1.0
...                                                    ...            ...
554932******9338 2015-06-18 08:53:32                     1            1.0
                 2015-06-24 22:34:23                     1            1.0
558285******0863 2015-06-19 18:36:39                     1            1.0
558285******1792 2015-06-05 13:34:55                     1            1.0
558285******9240 2015-06-29 13:05:45                     1            1.0

                                      diff_time  day_name_Friday  \
Cartão           Data
400217******0059 2015-06-03 18:44:24        0.0                0
400217******3671 2015-06-02 22:01:56        0.0                0
400217******3689 2015-06-16 18:18:16        0.0                0
400217******3922 2015-06-15 17:17:06        0.0                0
400217******4160 2015-06-11 15:26:25        0.0                0
...                                         ...              ...
554932******9338 2015-06-18 08:53:32        0.0                0
                 2015-06-24 22:34:23        0.0                0
558285******0863 2015-06-19 18:36:39        0.0                1
558285******1792 2015-06-05 13:34:55        0.0                1
558285******9240 2015-06-29 13:05:45        0.0                0

                                      day_name_Monday  day_name_Saturday  \
Cartão           Data
400217******0059 2015-06-03 18:44:24                0                  0
400217******3671 2015-06-02 22:01:56                0                  0
400217******3689 2015-06-16 18:18:16                0                  0
400217******3922 2015-06-15 17:17:06                1                  0
400217******4160 2015-06-11 15:26:25                0                  0
...                                               ...                ...
554932******9338 2015-06-18 08:53:32                0                  0
                 2015-06-24 22:34:23                0                  0
558285******0863 2015-06-19 18:36:39                0                  0
558285******1792 2015-06-05 13:34:55                0                  0
558285******9240 2015-06-29 13:05:45                1                  0

                                      day_name_Sunday  day_name_Thursday  \
Cartão           Data
400217******0059 2015-06-03 18:44:24                0                  0
400217******3671 2015-06-02 22:01:56                0                  0
400217******3689 2015-06-16 18:18:16                0                  0
400217******3922 2015-06-15 17:17:06                0                  0
400217******4160 2015-06-11 15:26:25                0                  1
...                                               ...                ...
554932******9338 2015-06-18 08:53:32                0                  1
                 2015-06-24 22:34:23                0                  0
558285******0863 2015-06-19 18:36:39                0                  0
558285******1792 2015-06-05 13:34:55                0                  0
558285******9240 2015-06-29 13:05:45                0                  0

                                      day_name_Tuesday  day_name_Wednesday  \
Cartão           Data
400217******0059 2015-06-03 18:44:24                 0                   1
400217******3671 2015-06-02 22:01:56                 1                   0
400217******3689 2015-06-16 18:18:16                 1                   0
400217******3922 2015-06-15 17:17:06                 0                   0
400217******4160 2015-06-11 15:26:25                 0                   0
...                                                ...                 ...
554932******9338 2015-06-18 08:53:32                 0                   0
                 2015-06-24 22:34:23                 0                   1
558285******0863 2015-06-19 18:36:39                 0                   0
558285******1792 2015-06-05 13:34:55                 0                   0
558285******9240 2015-06-29 13:05:45                 0                   0

                                      day_of_month_RANGE_1-5  \
Cartão           Data
400217******0059 2015-06-03 18:44:24                       1
400217******3671 2015-06-02 22:01:56                       1
400217******3689 2015-06-16 18:18:16                       0
400217******3922 2015-06-15 17:17:06                       0
400217******4160 2015-06-11 15:26:25                       0
...                                                      ...
554932******9338 2015-06-18 08:53:32                       0
                 2015-06-24 22:34:23                       0
558285******0863 2015-06-19 18:36:39                       0
558285******1792 2015-06-05 13:34:55                       1
558285******9240 2015-06-29 13:05:45                       0

                                      day_of_month_RANGE_11-15  \
Cartão           Data
400217******0059 2015-06-03 18:44:24                         0
400217******3671 2015-06-02 22:01:56                         0
400217******3689 2015-06-16 18:18:16                         0
400217******3922 2015-06-15 17:17:06                         1
400217******4160 2015-06-11 15:26:25                         1
...                                                        ...
554932******9338 2015-06-18 08:53:32                         0
                 2015-06-24 22:34:23                         0
558285******0863 2015-06-19 18:36:39                         0
558285******1792 2015-06-05 13:34:55                         0
558285******9240 2015-06-29 13:05:45                         0

                                      day_of_month_RANGE_16-20  \
Cartão           Data
400217******0059 2015-06-03 18:44:24                         0
400217******3671 2015-06-02 22:01:56                         0
400217******3689 2015-06-16 18:18:16                         1
400217******3922 2015-06-15 17:17:06                         0
400217******4160 2015-06-11 15:26:25                         0
...                                                        ...
554932******9338 2015-06-18 08:53:32                         1
                 2015-06-24 22:34:23                         0
558285******0863 2015-06-19 18:36:39                         1
558285******1792 2015-06-05 13:34:55                         0
558285******9240 2015-06-29 13:05:45                         0

                                      day_of_month_RANGE_21-25  \
Cartão           Data
400217******0059 2015-06-03 18:44:24                         0
400217******3671 2015-06-02 22:01:56                         0
400217******3689 2015-06-16 18:18:16                         0
400217******3922 2015-06-15 17:17:06                         0
400217******4160 2015-06-11 15:26:25                         0
...                                                        ...
554932******9338 2015-06-18 08:53:32                         0
                 2015-06-24 22:34:23                         1
558285******0863 2015-06-19 18:36:39                         0
558285******1792 2015-06-05 13:34:55                         0
558285******9240 2015-06-29 13:05:45                         0

                                      day_of_month_RANGE_6-10  \
Cartão           Data
400217******0059 2015-06-03 18:44:24                        0
400217******3671 2015-06-02 22:01:56                        0
400217******3689 2015-06-16 18:18:16                        0
400217******3922 2015-06-15 17:17:06                        0
400217******4160 2015-06-11 15:26:25                        0
...                                                       ...
554932******9338 2015-06-18 08:53:32                        0
                 2015-06-24 22:34:23                        0
558285******0863 2015-06-19 18:36:39                        0
558285******1792 2015-06-05 13:34:55                        0
558285******9240 2015-06-29 13:05:45                        0

                                      day_of_month_RANGE_>25  y_hat
Cartão           Data
400217******0059 2015-06-03 18:44:24                       0      1
400217******3671 2015-06-02 22:01:56                       0      1
400217******3689 2015-06-16 18:18:16                       0      1
400217******3922 2015-06-15 17:17:06                       0      1
400217******4160 2015-06-11 15:26:25                       0      1
...                                                      ...    ...
554932******9338 2015-06-18 08:53:32                       0      1
                 2015-06-24 22:34:23                       0      1
558285******0863 2015-06-19 18:36:39                       0      1
558285******1792 2015-06-05 13:34:55                       0      1
558285******9240 2015-06-29 13:05:45                       1      1

[11814 rows x 20 columns]

In [25]:
df_pred.y_hat.value_counts(' ')

1    0.942187
0    0.057813
Name: y_hat, dtype: float64