# Stone's Data Science Test

## Dev: Mateus Broilo
mateus.brilo90@gmail.com

* Objectives: Load Datasets and perform

 # Summary

* Initials
    * Loading Libraries and Packages
    * Configurations
    * Global Variables
* Loading Datasets
    * Sheet 1
    * Sheet 2
* Conclusions

# Initials
* Loading Libraries and Packages
* Configuration
* Global Variables

## Loading Libraries and Packages

In [7]:
# general
import warnings
import time
import gc

#data
import pandas as pd

In [2]:
ls -l ../raw_data/

total 1736
-rw-rw-r-- 1 broilo broilo 885777 mai 20 13:57 20220520_rawdata_original.xlsx
-rw-rw-r-- 1 broilo broilo 885777 mai 20 13:57 Missão_Stone_-_Dados_de_trx.xlsx

## Configurations

In [3]:
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 20)

## Global Variables

In [8]:
PATH_RAWDATA = "../raw_data/"
RAWDATA = "20220520_rawdata_original.xlsx"

# Loading Datasets
* Sheet 1
* Sheet 2

## Sheet 1

In [5]:
df_sheet1 = pd.read_excel(PATH_RAWDATA + RAWDATA, sheet_name='Aba 1')
print(df_sheet1.shape)
df_sheet1

(11128, 5)

                      Dia      Hora             Valor            Cartão  CBK
0     2015-05-01 00:00:00  00:01:54             36.54  536518******2108  Não
1     2015-05-01 00:00:00  00:03:46             36.54  536518******2108  Não
2     2015-05-01 00:00:00  00:08:50                69  453211******1239  Não
3     2015-05-01 00:00:00  00:27:00            193.43  548827******1705  Não
4     2015-05-01 00:00:00  01:32:46               132  531681******9778  Não
...                   ...       ...               ...               ...  ...
11123 2015-05-30 23:07:01        53  514868******7409               Não  NaN
11124 2015-05-30 23:08:47        15  439354******5281               Não  NaN
11125 2015-05-30 23:15:24        20  549167******1648               Não  NaN
11126 2015-05-30 23:17:41        70  518759******8384               Não  NaN
11127 2015-05-30 23:51:31        20  518759******0329               Não  NaN

[11128 rows x 5 columns]

## Sheet 2

In [9]:
df_sheet2 = pd.read_excel(PATH_RAWDATA + RAWDATA, sheet_name='Aba 2')
print(df_sheet2.shape)
df_sheet2

(11820, 5)

             Dia      Hora   Valor            Cartão  CBK
0     2015-06-01  00:02:25  112.00  541555******5965  NaN
1     2015-06-01  00:30:45  112.00  406669******7350  NaN
2     2015-06-01  00:43:20   18.34  541187******4535  NaN
3     2015-06-01  00:46:46   55.00  554927******5629  NaN
4     2015-06-01  00:47:50   50.00  498407******2077  NaN
...          ...       ...     ...               ...  ...
11815 2015-06-29  23:33:15  161.00  406669******8294  NaN
11816 2015-06-29  23:38:18  103.50  490172******5444  NaN
11817 2015-06-29  23:40:11   60.89  498407******2600  NaN
11818 2015-06-29  23:49:48   46.00  467149******3146  NaN
11819 2015-06-29  23:53:44   77.00  470598******4504  NaN

[11820 rows x 5 columns]

# Conclusions

1. df_sheet1: represents the train/test dataset
    * There're some minor corrections associated with the data integrity/structure that needs to be properly addressed
1. df_sheet2: represenst the validation dataset